/TukeyDepth/cmake-build-debug/
/TukeyDepth/cmake-build-release/
/Approximation/cmake-build-release/
/Approximation/cmake-build-debug/
/Evaluation/cmake-build-debug/
/Evaluation/cmake-build-release/
*.idea
/libs/
/out/
