/TukeyDepth/cmake-build-debug/
/TukeyDepth/cmake-build-release/
/TukeyDepth/out/
/Approximation/cmake-build-release/
/Approximation/cmake-build-debug/
/Evaluation/cmake-build-debug/
/Evaluation/cmake-build-release/
*.idea
/out/*
/libs/*
/libs/or-tools/
